<!DOCTYPE html> 
<html>
        <head>
                <title>About Us </title>
                <link rel="icon" href="/img/weather.png">
                <link rel= "stylesheet" href="/css/style.css">
            </head>
    <body>
            <div class="main-content">
        <h1>{{>header}}</h1>
        <br>
        <p>This site is created by Bijily Robot. This site uses "Darkmap" and "BadWeather" services.</p>
        <img class="portrait" src="/img/robot.png">
        </div>
        <footer>{{>footer}}</footer>
    </body>
</html>